@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
  /*fuente de la navbar*/
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa; /*color del fondo de la navbar*/
}

header::after {  /*tengo que ver el video sobre esto. lo que hace es que cuando mandas el logo a la izq y las listas
                   a la derecha, el fondo desaparece. este codigo hace que eso no pase.*/
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left; /*mando al logo para la izq*/
  padding: 10px 0;
}

nav {
  float: right; /*mando a las listas para la derecha*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; /*les saco los puntos que tienen las listas ul*/
}

nav li {
  display: inline-block; /*en vez de que las listas esten en forma vertical, las pone en lado horizontal*/
  margin-left: 70px;
  padding-top: 23px;

  position: relative; /*con esto los bloques tienen la longitud de las listas*/
}

nav a {
  color: #444;
  text-decoration: none; /*le saco la linea que subraya a la lista*/
  text-transform: uppercase; /*pongo todo en mayus*/
  font-size: 14px;
}

nav a:hover { /*se vuelve mas bold la fuente cuando pones el mouse encima de ella*/
  color: #000; 
}

nav a::before {
  content: '';
  display: block; /*bloque arriba de cada lista*/
  height: 5px;
  background-color: #444;

  position: absolute; /*que los bloques recorran la longitud de la lista*/
  top: 0;
  width: 0%;/*hago que sea invisible el bloque*/

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%; /*con esto el bloque pasa a verse por completo al poner el mouse*/
}











h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
}

.item h2 {
  font-size: 32px;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#brush {
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}